.form-item {
    position: relative;
    text-align: left;
}

.form-item-div {
    line-height: 50px;
    margin-left: 24px;
    margin-right: 24px;
}

.form-ant-timeline-item {
    position: relative;
    margin: 0; 
    font-size: 14px;
    list-style: none;
    align-self: center;
}

.form-success {
    background: #1da57a !important;
    color: #fff;
}

.form-danger {
    background: #fa541c !important;
    color: #fff;
}

.form-icon {
    background: white;
    position: absolute;
    top: 0;
    border: 2px solid #ddd;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 18px;
    padding-top: 9px;
    margin-left: -20px;
}

.form-time-line-p {
    line-height: 60px;
}

.form-form-tabPane {
    padding: 20px;

}

.form-timeline {
    max-width: 50%;
    margin: auto;
} 

.form-tile-line-p {
    font-size: 16px;
}